* {
    padding: 0;
    margin: 0;
}

.chat-box {
    box-sizing: border-box;
    background-color: #fcfcfc;
    width: calc(100%);
    height: calc(100vh - 70px);
    position: relative;
}

.submit-message-container {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
    padding: 12px;
    padding-left: 40px;
    padding-right: 20px;
    height: 80px;
}

.submit-button {
    margin-left: 10px;
    margin-top: 8px;
}

.submit-message-input {
    flex-grow: 1;
}

.messages-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: calc(100% - 40px);
    top: 0;
    padding: 12px;
    height: calc(100vh - 135px);
    overflow: scroll;
    margin-left: 20px;
    margin-right: 20px;
}

.submit-message-input {
    width: 100%;
    background-color: #ECECEC;
    border: 0;
    padding-left: 16px;
    padding-right: 50px;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 25px;
}

.submit-message-input:focus {
    outline: none;
}

.chat-query-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    padding-top: 17px;
    border-top: 1px solid #B1D0E0;
}

.chat-query-letter {
    padding: 7px 11px;
    width: 10px;
    border-radius: 50%;
    background-color: #B1D0E0;
    color: white;
    margin-right: 12px;
}

.chat-query-message {
    margin-top: 3px;
    font-weight: 400;
}

.chat-response-container {
    padding-top: 15px;
    padding-bottom: 30px;
}

.chat-response {
    padding: 22px;
    background-color: #ECECEC;
    border-radius: 4px;
}

.message-block {
    margin: 4px 0;
}

.hello-message {
    margin: 25px 5px;
}

.hello-section-user-name {
    margin-bottom: 3px;
}

.chat-box-root-container {
    display: flex;
    flex-direction: column;
}