* {
    padding: 0;
    margin: 0;

}

.main-container {
    display: flex;
    background-color: #f5f5f5;
    font-family: "Lexend";
    font-weight: 575;
}

.column {
    width: 50%;
}

.thirty-percent-column {
    width: 45%;
}

.report-container {
    height: calc(100vh - 70px);
    background-color: #E3E3E3;
    margin: 0;
    padding: 50px;
    width: 55%;
    overflow: scroll;
    box-sizing: border-box;
    position: relative;
}

.report-content {
    padding: 50px;
}

.margin-bottom-15 {
    margin-top: 5px;
    margin-bottom: 15px;

}

.margin-top-15 {
    margin-top: 15px;
}

.flag-section-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.flag-section-list {
    margin-left: 30px;
}


.flag-section-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.verify-button {
    font-size: 15px;
    color: white;
    background-color: #406882;
    padding: 15px 25px;
    border-radius: 4px;
    border: 0px;
    margin-top: 40px;
    cursor: pointer;
}

.button-parent {
    width: 100%;
    display: flex;
    justify-content: center;  
}

.negotiation-link {
    color: black !important;
    padding-top: 20px;
    text-decoration: underline !important;
}

@media only screen and (max-width: 769px) {
    .report-container {
        width: 100% !important;
        height: 100vh;
    }
    .download-report-container {
        width: 100% !important;
    }
    .thirty-percent-column {
        display: none;
    }
    .main-container {
        flex-direction: column-reverse;
    }
}

.download-report-container {
    height: 70px;
    width: 55%;
    left: 0;
    background-color: #E3E3E3;
    position: fixed;
    top: 70px;
    z-index: 1;
}

.relative-parent {
    width: 100%;
    position: relative;
}

.download-link {
    position: absolute;
    right: 57px;
    top: 23px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
}

.download-image {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}